<style>
    .container {
        width: 100%;
    }

    .vertical-center {
        min-height: 100%;
        /* Fallback for browsers do NOT support vh unit */
        min-height: 100;
        /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
    }

</style>
<div class="container text-center">
    <div class="row">
        <div class="col-md-2 alert alert-info">Imagen</div>
        <div class="col-md-1 alert alert-warning">Nombre</div>
        <div class="col-md-2 alert alert-danger">e-mail</div>
        <div class="col-md-1 alert alert-success">Telefono</div>
        <div class="col-md-2 alert alert-info ">Website</div>
        <div class="col-md-2 alert alert-warning">Mensaje</div>
        <div class="col-md-2 alert alert-info">Revisado</div>
    </div>
    <% contactos.forEach(function(contacto){%>
        <div class="row text-center ">
            <% var obj = JSON.parse( JSON.stringify(contacto)); %>

                <div class="col-md-2 table-bordered">
                    <img class='img-fluid' src='archivos/<%=obj.Imagen %>' />
                </div>
                <div class="col-md-1 table-bordered vertical-center">
                    <%= obj.Nombre %>
                </div>
                <div class="col-md-2 table-bordered vertical-center">
                    <%= obj.Email %>
                </div>
                <div class="col-md-1 table-bordered vertical-center">
                    <%= obj.Tel %>
                </div>
                <div class="col-md-2 table-bordered vertical-center">
                    <%= obj.Website %>
                </div>
                <div class="col-md-2 table-bordered vertical-center">
                    <%= obj.Mensaje %>
                </div>
                <div class="col-md-2 table-bordered vertical-center"><button class="form-control btn btn-default ">Revisado</button>
                </div>
        </div>
        <% });%>
</div>
<script src="js/jquery.js "></script>
