
<%- include('templates/head') %>
<%- include('templates/menu') %>

<p>
    <%
    console.log('^Render^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n',data);
    for(var k in data){
    %>
    <span><%= (k=="file")? k : k %> : <%- (k=="file")? "<img src='archivos/"+ data[k] + "'/>" : data[k] %></span><br>
    <%
    }
    %>
</p>


<%- include('templates/footer') %>	

